*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}

:root {
    --blue-color: #234CAD;
    --grey-color: #F2F6FF;
    --font-family: 'Nunito';
    --bg-white: #FFFFFF;
}

@media (max-width: 600px) {

    .card-image {
        border-radius: 60px;
        background: #F2F6FF;
        width: 100%;
        height: 345px;
        flex-shrink: 0;
        margin: auto;
    }

    .card-ui-1 {
        height: 91px;
    }

    .card-ui-2 {
        height: 113px;
    }

    .card-svg-1 {
        width: 316px;
    }
    .card-svg-2 {
        width: 197.5px;
    }

    .card-pricing {
        width: 345px;
    }

    .feature-2-image {
        width: 100%; 
        height: 199px; 
        border-radius: 60px;
        background: #F2F6FF; 
        position: relative;
    }

    .feature-2-ui-1 {
        position: absolute;
        bottom: 34px;
        left: 93px;
        width: 206px;
    }
    
    .feature-2-ui-2 {
        position: absolute;
        bottom: 69px;
        left: 208px;
        width: 198px;
    }
    
    .feature-2-ui-3 {
        position: absolute;
        bottom: 29px;
        left: -15px;
        width: 198px;
    }
    
    .feature-2-ui-4 {
        position: absolute;
        bottom: 113px;
        left: 143px;
        width: 198px;
    }
    
    .feature-2-ui-5 {
        position: absolute;
        bottom: 5px;
        left: 109px;
        width: 198px;
    }
    
    .feature-2-ui-6 {
        position: absolute;
        bottom: -57px;
        left: 109px;
        width: 128px;
    }
    
    .feature-2-ui-7 {
        position: absolute;
        bottom: -7px;
        left: 73px;
        width: 111px;
    }
    
    .feature-2-ui-8 {
        position: absolute;
        bottom: 111px;
        left: 109px;
        width: 111px;
    }
}

@media (min-width: 600px) {

    .card-image {
        border-radius: 60px;
        background: #F2F6FF;
        width: 575px;
        height: 575px;
        flex-shrink: 0;
        margin: auto;
    }

    .card-ui-1 {
        height: 150px;
    }
    
    .card-ui-2 {
        height: 185px;
    }

    .card-pricing {
        width: 380px;
    }

    .feature-2-image {
        width: 100%; 
        height: 351px; 
        border-radius: 60px;
        background: #F2F6FF; 
        position: relative;
    }

    .feature-2-ui-1 {
        position: absolute;
        bottom: 60px;
        left: 164px;
        width: 364px;
    }
    
    .feature-2-ui-2 {
        position: absolute;
        bottom: 121px;
        left: 367px;
        width: 349px;
    }
    
    .feature-2-ui-3 {
        position: absolute;
        bottom: 51px;
        left: -26px;
        width: 349px;
    }
    
    .feature-2-ui-4 {
        position: absolute;
        bottom: 199px;
        left: 252px;
        width: 349px;
    }
    
    .feature-2-ui-5 {
        position: absolute;
        bottom: 9px;
        left: 192px;
        width: 349px;
    }
    
    .feature-2-ui-6 {
        position: absolute;
        bottom: -101px;
        left: 192px;
        width: 225px;
    }
    
    .feature-2-ui-7 {
        position: absolute;
        bottom: -12px;
        left: 129px;
        width: 194px;
    }
    
    .feature-2-ui-8 {
        position: absolute;
        bottom: 195px;
        left: 192px;
        width: 194px;
    }
}

@media (min-width: 901px) {
    .card-image {
        border-radius: 60px;
        background: #F2F6FF;
        width: 575px;
        height: 575px;
        flex-shrink: 0;
        margin: auto;
    }

    .card-ui-1 {
        height: 150px;
    }
    
    .card-ui-2 {
        height: 185px;
    }

    .card-pricing {
        width: 380px;
    }

    .feature-2-image {
        width: 1240px; 
        height: 625px; 
        border-radius: 60px;
        background: #F2F6FF; 
        position: relative;
    }

    .feature-2-ui-1 {
        position: absolute;
        bottom: 106px;
        left: 292px;
        width: auto;
    }
    
    .feature-2-ui-2 {
        position: absolute;
        bottom: 216.2px;
        left: 653px;
        width: auto;
    }
    
    .feature-2-ui-3 {
        position: absolute;
        bottom: 90px;
        left: -46px;
        width: auto;
    }
    
    .feature-2-ui-4 {
        position: absolute;
        bottom: 355px;
        left: 448px;
        width: auto;
    }
    
    .feature-2-ui-5 {
        position: absolute;
        bottom: 16px;
        left: 342px;
        width: auto;
    }
    
    .feature-2-ui-6 {
        position: absolute;
        bottom: -180px;
        left: 342px;
        width: auto;
    }
    
    .feature-2-ui-7 {
        position: absolute;
        bottom: -22px;
        left: 229px;
        width: auto;
    }
    
    .feature-2-ui-8 {
        position: absolute;
        bottom: 347px;
        left: 341.6px;
        width: auto;
    }

}

.about, .pricing, .feature-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.card-content {
    width: 400px;
    margin: auto;
}

.title {
    color: #234CAD;
    font-family: 'Nunito';
    font-size: 3em;
.title {
    color: #234CAD;
    font-family: 'Nunito';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    padding-bottom: 25px;
}

.text {
    color: #234CAD;
    font-family: Nunito;
<<<<<<< HEAD
    font-size: 1em;
=======
    font-size: 16px;
>>>>>>> tsaniyaptran/newsletter-footer
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-bottom: 50px;
}

<<<<<<< HEAD
.getApp {
    color: #234CAD;
    background-color: transparent;
    text-align: center;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 163.636% */
    border-radius: 32.5px;
    border: 2px solid #234CAD;
    display: flex;
    width: 200px;
    height: 65px;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.getApp:hover {
    background-color: #F2F6FF;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.row-cols-2 > * {
    width: 40%;
}

.pricing-section {
    height: 133px;
    text-align: center;
    margin: auto;
    margin-bottom: 75px;
}

.pricing-text {
    width: 365px;
    margin: auto;
}

.pricing-table {
    display: flex;
    justify-content: center;
}

.card-title {
    color: #234CAD;
    text-align: center;
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 160% */
    padding-top: 50px;
}

.card-price {
    color: #234CAD;
    text-align: center;
    font-family: Nunito;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 85.714% */
    padding-top: 35px;
}

.card-text {
    color: #234CAD;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    padding-top: 15px;
}

.card-pricing {
    margin: auto;
    border-radius: 60px;
    background: #F2F6FF;
    border-style: none;
    height: 380px;
    flex-shrink: 0;
    transition: all 0.1s ease;
}

.button-price {
    border-radius: 37.5px;
    background: #FFF;
    width: 274px;
    height: 75px;
    flex-shrink: 0;
    color: #234CAD;
    text-align: center;
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 160% */
    border-style: none;
}

.card-pricing:hover {
    border: 3px solid #234CAD; 
    background: transparent;
}

.card-pricing:hover .button-price {
    border-radius: 37.5px;
    border: 3px solid #234CAD;
}

.feature-2-section {
    text-align: center;
}

body {
    font-family: var(--font-family);
    color: var(--blue-color);
}


/* Product Feactures */
.product-feature{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
  
  .container-feature{
    height: auto;
    display: flex;
    /* width: 80%; */
    width: 1299px;
    height: 575px;
    margin-bottom: 12%;
    padding: 0 100px;
    flex-direction: row;  
  }
  
  .pf-content{
    width: 575px;
    height: 575px;
    border: none;  
  }
  
  .pf-text{
    width: 445px;
    height: 575px; 
  }
  
  .pf-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
  }
  
  .main-text{
    width: 350px;
    height: 200px;
    font-family: var(--font-family);
    font-style: normal;
    margin: 108px 0 25px 100px;  
  }
  
  .main-text h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 56px;
    color: var(--blue-color);
  }
  
  .pf-text .main-text h1{
    width: 350px;
    text-align: justify;
  
  }
  
  .pf-card{
    width: 100%;
    position: relative;
    height: 100%;
    background: var(--grey-color);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
  }
  
  .pf-card1 .pf-card2 .pf-card3{
    position: relative;
    background: var(--bg-white);
    border-radius: 25px;
    justify-content: center;
    align-items: center;  
  }
  
  .pf-card1{
    width: 438px;
    height: 125px;
    margin: 108px 68px 0 68px;
    background: var(--bg-white);
    border-radius: 20px;
  }
  
  .pf-card2{
    width: 350px;
    height: 100px;
    margin: 25px 112px 0 112px;
    background: var(--bg-white); 
    border-radius: 20px;
  }
  
  .pf-card3{
    width: 262px;
    height: 75px;
    margin: 25px 157px 117px 157px;
    background: var(--bg-white); 
    border-radius: 20px;
  }
  
  .pf-card-1-content{
    display: flex;
    flex-direction: row;  
  }
  
  .nick-1{
    padding: 25px;  
  }
  
  .nick-2{
    padding: 20px;  
  }
  
  .nick-3{
    padding: 15px;  
  }
  
  .c-1{
    width: 75px;
      height: 75px;
    font-size: 22px;
  }
  .c-2{
    width: 60px;
    height: 60px;
    font-size: 18px;
  }
  .c-3{
    width: 45px;
    height: 45px;
    font-size: 13px;  
  }
  
  .c-1 h1{
    font-size: 22px;
    line-height: 29px;
  }
  .c-2 h1{
    font-size: 18px;
    line-height: 24px;
  }
  .c-3 h1{
    font-size: 13px;
    line-height: 17px;
  }
  
  .name-pf-card{
      background: var(--grey-color);
      border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .name-pf-card h1{
    font-family: var(--font-family);
    font-style: normal;
    text-align: center;
    font-weight: 700;
    color: var(--blue-color);
  }
  
  .notif-1 {
    position: absolute;
    background-color:var(--blue-color);
    width: 20px;
    height: 20px;
    margin-top: -25px;
    margin-left: 5px;
    color: var(--bg-white);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    border-radius: 100%;
  }
  
  .notif-2 {
    position: absolute;
    background-color:var(--blue-color);
    width: 16px;
    height: 16px;
    margin-top: -12px;
    margin-left: 5px; 
    color: var(--bg-white);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 6px;
    line-height: 15px;
    text-align: center;
    border-radius: 100%;
  }
  
  .notif-3 {
    position: absolute;
    background-color:var(--blue-color);
    width: 12px;
    height: 12px;
    margin-top: -8px;
    margin-left: 5px;
    font-size: 0.4em;
    line-height: 20px;
    color: var(--bg-white);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 5px;
    line-height: 12px;
    text-align: center;
    border-radius: 100%;
  }
  
  .ct-1{
    flex-grow: 2;
    height: 125px;
  }
  
  .ct-2{
    flex-grow: 2;
    height: 100px;
  }
  
  .ct-3{
    flex-grow: 2;
    height: 75px;
  }
  
  .ct-1, .t-1{
    padding-top: 34px;  
  }
  
  .ct-2, .t-2{
    padding-top: 28px;
  }
  
  .ct-3, .t-3{
    padding-top: 22px;
  }
  
  .content-text h1{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    color: var(--blue-color);  
  }
  
  .content-text p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    color: var(--blue-color);
  }
  
  .c-1 p{
    font-size: 15px;
    line-height: 26px;
  }
  
  .c-2 p{
    font-size: 12px;
    line-height: 21px;
  }
  
  .c-3 p{
    font-size: 9px;
    line-height: 16px;
  }
  
  .pf-time{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    color: var(--blue-color);
    mix-blend-mode: normal;
    opacity: 0.75;
  }
  
  .t-1{
    font-size: 12px;
    line-height: 16px;  
  }
  
  .t-2{
    font-size: 10px;
    line-height: 13px;
  }
  
  .t-3{
    font-size: 7px;
    line-height: 10px;
  }
  
  .text-body{
    width: 280px;
    height: 52px;
    text-align: justify;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--blue-color);
    margin: 0 36px 50px 100px;
  }
  
  
  .get-app-bttn button{
    height: 65px;
    width: 200px;
    border-radius: 32.5px;
    border: 2px solid var(--blue-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: var(--blue-color);
    background-color: transparent;
    margin: 0 140px 107px 100px;
=======
.footer {
    color: #234CAD;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px; /* 163.333% */
}

.footer-text {
    color: #234CAD;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 161.111% */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container{
    border-radius: 60px;
    background: #F2F6FF;
    height: 383px;
  }

  .newsletter-title{
    padding-top: 75px;
  }

  .newsletter-text{
    padding-top: 25px;
  }

  .newsletter-section {
    background-color: #f8f9fa;
    padding: 80px 0;
    text-align: center;
  }

  .newsletter-form {
    max-width: 400px;
    margin: 0 auto;
  }

  .form-control{
    display: inline;
    width: 350px;
    height: 55px;

  }

  .input-button{
    margin-left: -55px;
  }


  @media (max-width: 767px) {
    .footer .col-md-3 {
      margin-bottom: 20px;
    }
>>>>>>> tsaniyaptran/newsletter-footer
  }